body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
menu,
section,
p,
td,
th,
ins {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
}

ul,
li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}
